<div class="container container-flex">
  <div id="header" class="row header-flex">
    <include src="template/component/navbar.html" compile="true"></include>
  </div>
  <div id="content" class="row content-flex">
    <form class="form-signin panel panel-default" ng-submit="formSubmit()">
      <div class="form-control-group text-center">
        <label>
          <input type="radio" name="action" value="login" ng-model="action" ng-change="onChangeRadio()" ng-disabled="working">Login
          <input type="radio" name="action" value="register" ng-model="action" ng-change="onChangeRadio()" ng-disabled="working">Register
          <input type="radio" name="action" value="forgot" ng-model="action" ng-change="onChangeRadio()" ng-disabled="working">Forgot Password
        </label>
      </div>
      <div ng-if="inputs[action].includes('firstName')" class="form-control-group">
        <input class="form-control form-control-top" ng-model="credentials.firstName" placeholder="First Name" required autofocus>
        <input class="form-control form-control-bottom" ng-model="credentials.lastName" placeholder="Last Name" required autofocus>
      </div>
      <div class="form-control-group">
        <label for="email" class="sr-only">Email address</label>
        <input id="email" type="email" class="form-control" ng-class="{'form-control-top': inputs[action].includes('password')}" ng-model="credentials.email" placeholder="Email address" required autofocus>
        <div ng-if="inputs[action].includes('password')">
          <label for="password" class="sr-only">Password</label>
          <input id="password" type="password" class="form-control form-control-bottom" ng-model="credentials.password" placeholder="Password" required>
        </div>
      </div>
      <div ng-if="action === 'login'">
        <label>
          <input type="checkbox" value="true" ng-model="credentials.rememberMe" ng-disabled="working">Remember me
        </label>
      </div>
      <div class="form-control-group">
        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="working">{{action === 'forgot' ? 'Forgot Password' : action === 'register' ? 'Register' : action === 'login' ? 'Login' : '??'}}</button>
      </div>
      <div class="text-center">
        <span ng-if="working" us-spinner="{radius:6, width:1.6, length: 3.2}">&nbsp;</span>
        <span ng-if="success && !error" class="text text-success">{{success}}</span>
        <span ng-if="error" class="text text-danger">{{error}}</span>
      </div>
    </form>
  </div>
  <div id="footer" class="row footer-flex">
    <include src="template/component/footer.html"></include>
  </div>
</div>